@import "variables";
@import "button";
@import "header";
@import "footer";
@import "banner-top";
@import "banner-bot";
@import "section";
@import "dark-mode";
@import "modal-form-login";
@import "responsive";

* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
	margin: 0;
	background-color: $bg-color-light;
	width: 100%;
}

.container {
	.add-space {
		height: 790px;
		width: 100%;
	}

	.separate-line {
		background-color: rgba($color: #000000, $alpha: 0.2);
		height: 2px;
		width: 884px;
		margin: 0 auto 72px;
	}

	.title-mid {
		text-align: center;
		font-size: 46px;
		color: $text-color;
		margin: 0 auto 59px;
		width: 425px;
		line-height: 36px;
	}
}
